.footer {
  background-color: #2e373c;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: rgb(224, 222, 222);
  padding-left: 0;
  font-family: KingthingsItalique;
  padding-bottom: 2rem;
}

.footer-logo {
  align-items: center;
  width: 6rem;
  height: 6rem;
  filter: drop-shadow(0 5px 10px rgb(17, 17, 17));
}

.footer h3 {
  font-family: CloisterBlack;
}
