@font-face {
  font-family: "OpenSans";
  src: url("../static/fonts/OpenSans-Light.ttf") format("truetype"),
    url("../static/fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../static/fonts/OpenSans-Light.ttf") format("truetype"),
    url("../static/fonts/OpenSans-Light.ttf") format("truetype"),
    url("../static/fonts/OpenSans-Light.ttf") format("truetype"),
    url("../static/fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "CloisterBlack";
  src: url("../static/fonts/CloisterBlack.ttf") format("truetype")
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 3.5vmin);
  font-family: OpenSans;
  font-weight: bold;
  color: black;
}

.header a {
  color: black;
  text-decoration: none;
}

.logo {
  font-family: CloisterBlack;
  font-size: 3.5rem;
  display: inline;
  font-weight: 800;
  color: rgb(231, 67, 67);
  padding: 1rem 1rem;
  margin: 1rem;
  float: left;
}

nav ul.header-links {
  list-style: none;
  display: inline;
  float: right;
  margin-right: 1rem;
}

nav ul.header-links li {
  display: inline;
  padding: 1.2rem 1.2rem;
}

.header-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.arrow-icon-section {
  position: relative;
  text-align: center;
}
.arrow-down-icon {
  width: 3.5rem;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%) translateY(-10%);
}
