.contact-section {
  background-color: salmon;
  padding: 4rem;
}

.contact-description {
  font-size: 1.1rem;
}

.label {
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  div.contact-section {
    font-size: 0.7rem;
  }
}
