.home-section {
  background-color: #ffffff;
  -webkit-columns: 2 25rem;
  -moz-columns: 2 25rem;
  columns: 2 25rem;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  -webkit-column-rule: 1px solid #ddd;
  -moz-column-rule: 1px solid #ddd;
  column-rule: 1px solid #ddd;
  padding: 2rem;
}

.home-about {
  height: 70vh;
  padding: 1rem;
  text-align: right;
  padding-left: 1rem;
  margin-right: 2rem;
}

.home-photo img {
  min-width: 35vw;
  max-width: 35vw;
  margin-right: 1rem;
  position: flex;
  float: right;
  padding: 1rem;
}

.home-description {
  width: 30vw;
  position: flex;
  float: right;
}

@media screen and (max-width: 600px) {
  div.home-about {
    font-size: 0.7rem;
    padding-left: 1rem;
  }
}
